:root {
  --logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --secondary-color: #2f303a;
  --background-color: #f5f4fa;
  --border-color: #ececec;
  /* color icon */
  --nav-icon: #757575;
  --primary-icon: #afb1b8;
  --secondary-icon: #2196f3;
  --third-icon: #ffffff;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  /* color button */
  --button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* HTML box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* BODY */
body {
  background-color: var(--white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

/* Button hero modal footer*/
.button {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Header */
.page-header {
  border-bottom: 1px solid var(--border-color);
}

.page-header__nav {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo-header {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-bottom: 0px;
}

.logo-header__text {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

/* Site nav */
.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--transition-timing), opacity 250ms var(--transition-timing);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
  fill: var(--secondary-icon);
}

.site-nav__link {
  position: relative;
}

.site-nav__link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link:hover::after,
.site-nav__link:focus::after {
  opacity: 1;
}

/* Contacts */
.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  fill: var(--nav-icon);
  transition: color 250ms var(--transition-timing), fill 250ms var(--transition-timing);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
}

/* Стили для index.html */

/* Hero */
.hero {
  background-color: var(--secondary-color);
  max-width: 1600px;
  height: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0px;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 30px;
}

/* Hero button */
.hero__button {
  display: block;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 32px;
  min-width: 200px;
  border-color: transparent;
  box-shadow: var(--button-shadow);

  transition: background-color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
}

.hero__button:hover,
.hero__button:focus,
.form-btn:hover,
.form-btn:focus {
  border-radius: 4px;
  background-color: #188ce8;
  box-shadow: var(--button-shadow);
}

/* Backdrop Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opasity 250ms var(--transition-timing);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  /* position: absolute; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--transition-timing), opacity 250ms var(--transition-timing);
}

.close-button {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: var(--third-icon);

  transition: fill 250ms var(--transition-timing);
}

.close-button:hover,
.close-button:focus {
  fill: var(--secondary-icon);
}

/* Form modal */
.signup-form {
  padding: 40px;
}

.signup-form__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-color);
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 28px;
}

.form-field:last-of-type {
  margin-bottom: 20px;
}

.form-field label {
  position: absolute;
  top: -18px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--text-color);
}

.form-field input,
textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;

  transition: fill 250ms var(--transition-timing), border-color 250ms var(--transition-timing),
    outline 250ms var(--transition-timing);
}

input {
  height: 40px;
  margin: 0;
  padding: 0px 0px 0px 42px;
}

.form-field__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms var(--transition-timing);
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  border-color: var(--secondary-icon);
  outline: var(--secondary-icon);
}

input:hover ~ .form-field__icon,
input:focus ~ .form-field__icon {
  fill: var(--secondary-icon);
}

.signup-form textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__comment {
  max-height: 120px;
  padding: 12px 16px;
}

textarea {
  resize: none;
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 24px; */
  margin-bottom: 30px;
}

.checkbox-label__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-label__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox-label__input:checked + .checkbox-label__icon {
  background-image: url('../images/check-mark.svg');
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;

  transition: background-color 250ms var(--transition-timing);
}

.checkbox-label__link {
  margin-left: 5px;
  color: var(--secondary-icon);
  text-decoration-line: underline;
}

.signup-form__btn {
  align-items: center;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
  min-width: 200px;
  border: none;
  border-color: transparent;
  box-shadow: var(--button-shadow);

  transition: background-color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
}

/* Features */
.advantage-cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  /* margin-left: -30px; */
  padding-left: 0;
}

.advantage-cards__item {
  flex-basis: calc(100% / 4 - 30px);
}

.advantage-cards__item:not(:first-child) {
  margin-left: 30px;
}

.advantage-cards__thumb {
  content: '';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-color);
}

.advantage-cards__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}

.advantage-cards__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}

/* Type of work */
.work {
  padding-top: 0;
}

.work__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.work-cards {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.work-cards__item:not(:first-child) {
  margin-left: 30px;
}

.work-cards__thumb {
  position: relative;
  display: flex;
  justify-content: center;
}

.work-cards__thumb::before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 47, 58, 0.8);
}

.work-cards__label {
  position: absolute;
  bottom: 27px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  margin: 0;

  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
}

/* Team */
.team {
  background-color: var(--background-color);
}

.team__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.team-list__item {
  width: 270px;
  margin: 15px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__employee {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-top: 30px;
  margin-bottom: 10px;
}

.team-card__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 30px;
}

/* Social links */
.team-link {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team-icon {
  border-radius: 50%;
  margin-right: 10px;
  fill: var(--primary-icon);

  transition: fill 250ms var(--transition-timing), background-color 250ms var(--transition-timing);
}

.team-icon:hover,
.team-icon:focus {
  fill: var(--third-icon);
  background-color: var(--secondary-icon);
}

/* Client */
.client__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.client-list {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: -30px;
  padding-left: 0;
}

.client-list__item {
  flex-basis: calc(100 / 6 -30px);
  margin-left: 30px;
}

.client-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon);
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms var(--transition-timing), border 250ms var(--transition-timing);
}

.client-list__link {
  fill: var(--primary-icon);
}

.client-list__link:hover,
.client-list__client-link:focus {
  border: 1px solid var(--secondary-icon);
  fill: var(--secondary-icon);
}

/* Стили для portfolio.html*/

/* Portfolio buttons */
.filter {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  display: flex;
  justify-content: center;
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
}

.filter__btn {
  margin-top: 94px;
  margin-right: 8px;
}

.filter__btn {
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  cursor: pointer;
  border-radius: 4px;
}

/* Portfolio */
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
  /* flex-basis: calc(100 / 3 - 30px); */
}

.card-set__item {
  width: 370px;
  margin: 15px;
  border: 1px solid var(--border-color);

  /* transition: box-shadow 250ms var(--transition); */
}

.card-set__item:hover {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.product__meta {
  padding: 20px 24px;
}

.product__name {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.product__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  margin: 0;
  padding-bottom: 0;
}

.product {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  visibility: hidden;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms var(--transition-timing), visibility 250ms var(--transition-timing),
    background-color 250ms var(--transition-timing);
}

.product:hover .product__overlay,
.product:focus .product__overlay {
  transform: translateY(0%);
  visibility: visible;
}

.product__ladel {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  margin: 0;
  padding: 0;
}

/* Footer */
.page-footer {
  background-color: var(--secondary-color);
  padding: 60px 0;
}

.logo-footer {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  display: block;
}

.logo-footer__text {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
}

.container.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-contacts {
  margin-bottom: 0;
  padding-left: 0;
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
  color: var(--accent-color);
}

.location {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 20px;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  display: inline-block;
  margin-bottom: 9px;
  transition: color 250ms var(--transition-timing);
}

/* Join */
.footer-social__title,
.form-subscription__title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  border-radius: 50%;
  fill: var(--third-icon);
  background-color: rgba(255, 255, 255, 0.1);

  transition: fill 250ms var(--transition-timing), background-color 250ms var(--transition-timing),
    filter 250ms var(--transition-timing);
}

.social__icon:hover,
.social__icon:focus {
  background-color: var(--secondary-icon);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Form subscription */
.form-subscription {
  margin-top: 12px;
  margin-left: 93px;
}

.form-subscription__block {
  display: block;
  margin: 0;
  padding: 0;
}

.form-subscription__label {
  display: none;
}

.form-subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-subscription__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-right: 0;
  margin-left: 12px;
  padding: 10px 0px;
  min-width: 200px;
  border-color: transparent;
  box-shadow: var(--button-shadow);

  transition: background-color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
}

.button-icon {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  fill: var(--third-icon);
}

.form-subscription__btn:hover,
.form-subscription__btn:focus {
  border-radius: 4px;
  background-color: #188ce8;
  box-shadow: var(--button-shadow);
}
