%logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  @extend %logo;
  color: $black-color;
  margin-bottom: 0px;
}

.logo-header__text {
  color: $accent-color;
}

.logo-footer {
  @extend %logo;
  color: $white-color;
  display: block;
  margin-bottom: 20px;
}

.logo-footer__text {
  color: $accent-color;
}
