%logo {
  font-family: Raleway, sans-serif;
  @include fontStyle(700, 26px, 1.19, 0.03em);
  text-decoration: none;
}

.logo-header {
  @extend %logo;
  color: $black-color;
  margin-bottom: 0px;
}

.logo-header__text {
  color: $accent-color;
}

.logo-footer {
  @extend %logo;
  color: $white-color;
  display: block;
}

.logo-footer__text {
  color: $accent-color;
}
