body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  background-color: #ffffff;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
