/* hidden header */
%hide {
  display: none;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

%button {
  color: $white-color;
  background-color: $accent-color;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  cursor: pointer;
}
